h1, h2, ul {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
list-style-type: none;
}
img {
display: block;
max-width: 100%;
height: auto;
}
body{
font-family: 'Roboto', sans-serif;
color: var(--body-text-color);
}
.container{
width: 1200px;
margin: 0 auto;
}
:root{
--main-white-color: #FFFFFF;
--blue-color: #2196f3;
--black-color: #000000;
--grey-text-color: #757575;
--secondary-background-color: #2F303A;
--text-footer-color: rgba(255, 255, 255, 0.6);
--body-text-color: #212121;
--border-header-color: #ECECEC;
--border-portfolio-color: #EEEEEE;
--background-portfolio-margin-color: #E5E5E5;
--background-buttons-color: #F5F4FA;
}
.logo-web-header {
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: var(--blue-color)
}
.logo-web-footer {
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: var(--blue-color)
}
.logo-studio-black {
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: var(--black-color);
padding-left: 0;
}
.logo-studio-white{
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: var(--main-white-color);
}
.header-container{
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
border-bottom: 1px solid var(--border-header-color);
}
.menu-nav a{
text-decoration: none;
color: var(--body-text-color);
}
.submenu-nav{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
list-style-type: none;
display: flex;
align-items: center;
margin: 0;
padding-left: 15px;
}
.menu-nav{
background-color: var(--main-white-color);
width: 492px;
height: 78px;
}
.menu-link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--grey-text-color);
}
.heading-box{
background-color: var(--secondary-background-color);
height: 600px;
}
.heading-main{
box-sizing: content-box;
width: 696px;
height: 120px;
padding: 200px 252px 0;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-white-color);
margin: 0;
}
.button-main {
background: var(--blue-color);
border: 0;
cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;  
width: 200px;
height: 50px;
margin: 30px 500px;
padding: 0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px; 
}
.list-heading{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase
}
.list-text{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--grey-text-color);
}
.heading-section{
box-sizing: content-box;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
width: 372px;
height: 42px;
margin: 94px 0 0;
padding-left: 414px;
}
.our-team{
box-sizing: content-box;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
width: 230px;
height: 42px;
padding: 94px 485px 50px;
}
.list-worker{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}
.job-title{
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--grey-text-color);
}
.footer-box{
background: var(--secondary-background-color);
margin: 0;
}
.list-battons{
font-weight: 500;
font-size: 16px;
line-height: 1.6;
width: 121px;
border: 0;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
background: var(--background-buttons-color);
}
.heading-list-portfolio{
box-sizing: content-box;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
padding: 24px 24px 0 24px;
width: 322px;
height: 36px;
margin: 0;
}
.list-span-portfolio{
font-size: 16px;
line-height: 2; 
letter-spacing: 0.03em; 
color: var(--grey-text-color);
width: 322px;
height: 30px;
padding: 4px 24px 20px;
}
.link-address{
box-sizing: content-box;
color: var(--main-white-color);
list-style-type: none;
height: 81px;
width: 247px;
padding-top: 20px;
padding-bottom: 60px;
padding-left: 15px;
}
.list-images{
gap: 30px;
padding: 50px 0 90px 15px;
margin:0;
display: flex;
flex-wrap: wrap;
flex-basis: calc((100% - 30px) / 3);
background: var(--main-white-color);
height: 404px;
}
.list-images>li{
border: 1px solid var(--border-portfolio-color);
}
.portfolio-box{
background: var(--main-white-color);

}
.link-agency{
text-decoration: none;
color: var(--body-text-color);
padding-left: 93px;
}
.link-contact{
padding-left: 46px;
}
.link-portfolio{
    padding-left: 46px;
}
.links-footer{
color: var(--main-white-color);
text-decoration: none;
font-size: 14px;
line-height: 1.71;
}
.logo-studio-black:focus,
.logo-studio-black:hover,
.link-agency>a:focus,
.link-agency>a:hover,
.link-portfolio>:focus,
.link-portfolio>a:hover,
.link-contact>a:focus,
.link-contact>a:hover,
.submenu-nav>a:focus,
.submenu-nav>a:hover,
.menu-link-list>a:hover,
.menu-link-list>a:focus,
.links-footer:focus,
.links-footer:hover{
color: var(--blue-color)
}
.button-main:focus,
.button-main:hover,
.list-battons:hover,
.list-battons:focus{
color: var(--main-white-color);
background-color: var(--blue-color);
}
.menu-link-list{
display: inline-flex;
align-items: center;
}
.menu-link{
display: flex;
align-items: center;
}
.menu-link-list a{
text-decoration: none;
color: var(--body-text-color);
}
.nav-agencja{
padding-left: 238px;
}
.links-header-mail{
padding-right: 50px;
}
.links-header-tel{
padding-right: 27px;
}
.list-lorem {
display: flex;
height: 195px;
list-style-type: none;
padding: 94px 0 0;
margin: 0 15px;
gap: 30px;
}
.list-heading{
margin: 0;
}
.list-text{
margin: 0;
padding-top: 10px;
}
.images-what-we-do{
display: flex;
justify-content: space-around;
padding: 50px 0 94px;
list-style-type: none;
margin: 0;
}
.our-team-list{
display: flex;
justify-content: space-around;
list-style-type: none;
margin: 0;
height: 368px;
}
.our-team-list>li{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.our-team-bacground{
background: var(--background-buttons-color);
height: 648px;
}
.list-worker{
box-sizing: content-box;
height: 19px;
width: 112px;
padding: 30px 79px 0;
margin: 0;
background: var(--main-white-color);
}
.job-title{
height: 19px;
padding: 10px 0 30px;
margin: 0;
background: var(--main-white-color);
}
p.job-title{
padding-bottom: 49px;

}
.footer-web{
margin: 0;
padding-left: 15px;
padding-top: 60px;
}
p.logo-web-footer{
margin: 0;
}
.buttons{
box-sizing: border-box;
width: 572px;
height: 38px;
padding: 0 0 0 318px;
gap: 8px;
display: flex;
justify-content: space-between;
background: var(--main-white-color);
}
.main-portfolio{
height: 1360px;
margin: 91px 0 184px;
}